:root {
    --questionmark-red: rgb(222, 0, 0);
    --bg-color: rgb(0, 122, 255);
}

body {
    background-color: var(--bg-color);
}

.container {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 {
    border-right: 1px solid rgba(222, 0, 0, 0.2);
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--questionmark-red);
}

.img-fluid {
    max-height: 280px;
}

.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 122, 255, 0.2);
    padding-top: 12px;
}

.answer-option:hover {
    cursor: pointer;
    background-color: rgba(0, 122, 255, 0.05);
}


#endscreen-body {
    font-weight: bold;
    font-size: 20px;
    color: #66c131;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endcircle {
    width: 300px;
    height: 300px;
    background-color: rgba(100, 150, 0, 0.2);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.endcircle img {
    width: 200px;
}

#result {
    font-size: 24px;
    color: var(--questionmark-red);
}

#play-again {
    margin-bottom: 16px;
}

.progress {
    border-radius: unset;
    border-top-right-radius: 5px;
}

.progress-bar {
    background-color: rgba(222, 0, 0, 0.5);
}